<a href="{{ include.href | default: '#' }}" class="link is-flex is-align-items-center {{ include.class | remove: 'text-scramble' | default: '' }}" target="{{ include.target | default: '_self' }}">
{%- if include.class contains "text-scramble"  %}
<span class="text-scramble" data-texts='["{{ include.data_texts }}"]'>
{%- else %}
{{ include.label | default: 'Link' }}
{% endif %}
{%- include icon.html name="arrow-up-right" class="no-scramble" %}
{%- if include.class contains "text-scramble"  %}
</span>
{%- endif %}
</a>