<nav class="navbar mt-3 mb-6 mx-3" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ site.baseurl | prepend: site.url }}">
            {{ site.title | default: "My Website" }}
        </a>

        <!-- Hamburger Menu -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarExpanded">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <!-- Expanded Navbar -->
    <div id="navbarExpanded" class="navbar-menu">
        <div class="navbar-start">
            {% assign sorted_items = site.pages | sort:"order" %}
            {% for item in sorted_items %}
                {% if item.include_in_header == true %}
                    <a class="navbar-item" href="{{ item.url | relative_url }}" target="_self">{{ item.title }}</a>
                {% endif %}
            {% endfor %}
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button" href="https://github.com/{{ site.author.github }}" target="_blank" rel="noopener nofollow" title="GitHub Repository">
                            {% include icon.html name="github" %}
                        </a>
                    </p>
                    <p class="control">
                        <a class="button" href="https://linkedin.com/in/{{ site.author.linkedin }}" target="_blank" rel="noopener nofollow" title="GitHub Repository">
                            {% include icon.html name="linkedin" %}
                        </a>
                    </p>
                    <p class="control">
                        <!-- START-THEME-TOGGLE-BUTTON -->
                        <a class="button theme-toggle" id="theme-toggle" title="Toggles light & dark" aria-label="auto" aria-live="polite">
                            <svg class="sun-and-moon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
                                <circle class="sun" cx="12" cy="12" r="6" mask="url(#moon-mask)" fill="currentColor" />
                                <g class="sun-beams" stroke="currentColor">
                                    <line x1="12" y1="1" x2="12" y2="3" />
                                    <line x1="12" y1="21" x2="12" y2="23" />
                                    <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
                                    <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
                                    <line x1="1" y1="12" x2="3" y2="12" />
                                    <line x1="21" y1="12" x2="23" y2="12" />
                                    <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
                                    <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
                                </g>
                                <mask class="moon" id="moon-mask">
                                    <rect x="0" y="0" width="100%" height="100%" fill="white" />
                                    <circle cx="24" cy="10" r="6" fill="black" />
                                </mask>
                            </svg>
                        </a>
                        <!-- END-THEME-TOGGLE-BUTTON -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</nav>