.img-2-ascii-wrapper {
    --max-image-height: 450px;
    position: relative;
    display: flex;
    img {
        width: 100%;
        opacity: 0;
        height: auto;
        max-height: var(--max-image-height);
    }
    .img-2-ascii {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        left: 0;
        right: 0;
    }
}