
@use "base";

.projects {
    .project-card {
        position: relative;
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
        .img-2-ascii-wrapper {
            .img-2-ascii {
                transition: filter 0.5s ease;
                cursor: pointer;
                filter: brightness(1) grayscale(1);
            }
            &:has(+ .link:hover) .img-2-ascii {
                filter: brightness(1) grayscale(0);
            }
        }
        .link {
            position: absolute;
            font-weight: 600;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            pointer-events: auto;
            justify-content: center;
            .text-scramble{
                color: base.$color-white;
                border-radius: 0.5rem;
                padding: 0.5rem 1rem;
                backdrop-filter: blur(10px);
            }
        }
    }
}